
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}
//
//OUR STYLES BELOW
//

body{
  background: url('http://all4desktop.com/data_images/original/4238051-background.jpg') no-repeat;
  background-size: cover;
}

.hero-list{
  display: none;
}

.char-dropdown{
  display: inline-block;
  &:hover{
  background-color: green;
  }
}

.protagonist{
  display: inline-block;
  list-style: none;
  color: #8A8A88;
  font-size: 18px;
  &:hover{
  background-color: green;
  }
}

.avatar-goodguy{
  height: 350px;
  width: 300px;
}

.avatar-badguy{
  height: 350px;
  width: 300px;
}
