
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}
//
//OUR STYLES BELOW
//

body{
  background: url('http://wallpaper.zone/img/4519119.png') no-repeat;
  background-size: cover;
}

#hodge-podge{
  text-align: center;
  color: white;
}

#title-description{
  text-align: center;
  color: #833883;
}

.hero-list{
  display: none;
}

.char-dropdown{
  display: inline-block;
  &:hover{
  background-color: #833883;
  }
}

.char-select{
  text-align: center;
  color: white;
}

.hero-list{
  margin-right: 40px;
}

.protagonist{
  display: inline-block;
  list-style: none;
  color: #833883;;
  font-size: 18px;
  &:hover{
  background-color: white;
  }
}

.avatar-goodguy{
  height: 350px;
  width: 300px;
}

.avatar-badguy{
  height: 350px;
  width: 300px;
}
